html {
    color: rgb(80, 18, 80);
    background-color: rgb(255, 139, 76);
    font-family: "Brush Script MT", Garamond, "Times New Roman",  serif; 
}
#contents {
    display: block;
    border: 6px solid rgb(7, 78, 42);
    padding: 16px;
    width: 800px;
    margin: auto;
}

h1 {
    color: rgb(55, 10, 10);
}

.picanddesc img {
    display: block;
    width: 500px;
    height: auto;
    margin: auto;
    padding: 10px;
}