html {
    color: rgb(80, 18, 80);
    background-color: rgb(255, 139, 76);
    font-family: Garamond, serif;
    
}
#contents {
    display: block;
    border: 6px solid rgb(7, 78, 42);
    padding: 12px;
    width: max(75%);
    margin-left: 150px;
    text-align: left;
}

img {
    height: auto;
    width: 500px;
    text-align: center;

}

h1 {
    color: rgb(55, 10, 10);

}